html, body, .app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  overflow-y: auto;
}

.svg-container {
  display: none;
}

.svg-icon-loader {
  width: 100%;
  height: 100%;
  fill: inherit;
  transform: translateX(0px);
}

.svg-icon-flower {
  width: 100%;
  height: 100%;
  fill: inherit;
  transform: translateX(0px);
}

.icon-loader {
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 50px;

  fill: #fff;
  -webkit-animation: spin 1s steps(12) infinite;
  -moz-animation: spin 1s steps(12) infinite;
  animation: spin 1s steps(12) infinite;
}

.icon-flower {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 30px;
  height: 50px;
}

.page-profile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 50%;
  height: 100%;
}

.page-loader {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  background-color: #6a6b6d;

  transform: translateZ(0);
  transition: all 0.8s;
}

.page-loader.stop {
  width: 50%;
}

.page-loader-content {
  position: relative;

  width: 70px;
  height: 87px;
}

@media (max-width: 980px) {

}

@-webkit-keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}
