.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
  }

*::-moz-selection {
    background: #b4e7f8
	}

*::selection {
    background: #b4e7f8
	}
  
strong, b {
  font-weight: 600
  }
  
em, i {
  font-style: italic
  }

img {
  -ms-interpolation-mode: bicubic
  }

a {
	text-decoration: none;
	cursor: pointer;
	}

p img,
.photo img {
  max-width: 100%;
  height: auto;
  background: #fff;
  }

.video-container, .audio_player_wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 0 0 25px;
  }

.audio_player_wrap {
  padding-bottom: 3px;
  }

.video-container iframe,  
.video-container object,  
.video-container embed,
.audio_player_wrap iframe,
.audio_player_wrap object,
.audio_player_wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  }

  
/* ------ */
body {
  font-family: 'Univers LT W01_45 Light', sans-serif !important;
  color: #1e1e1c;
  background: #fff;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	}

header, footer {
	max-width: 1440px;
	margin: 10vh auto;
	height: 32px;
	padding: 21px 2% 19px;
	}

footer {
	margin-top: 20vh;
	}

#blog footer {
	margin-top: 0;
	}

header ol,
header h1,
header p,
footer ol,
footer h1,
footer p {
	float: left;
	margin: 0;
	padding: 0;
	width: 25%;
	line-height: 32px;
	font-size: 18px;
	}

header ol,
footer ol {
	text-align: center;
	width: 50%;
	}

header p,
footer p {
	float: right;
	text-align: right;
	}

header ol li,
footer ol li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 32px;
	display: inline-block;
	}
	
header ol a,
footer ol a {
	padding: 7px 12px;
	}

header a,
header p a,
header h1 span,
footer a,
footer p a,
footer h1 span,
header p,
footer p {
	text-decoration: none;
	border: none;
	color: #a0a0a0;
	}

header h1 a,
header a.active,
header a:hover,
footer h1 a,
footer a.active,
footer a:hover,
header p a:hover,
footer p a:hover {
	color: #1e1e1c;
	background: none;
	}

.container {
  padding: 0 2%;
	max-width: 1440px;
	margin: 0 auto;
	}

#blog .container {
	max-width: 1080px;
	}

.post {
  padding: 0 0 38.1vh;
  }
 
.post.last {
	padding: 0;
	}

h3, h4, h5, h6, p, pre, blockquote, .caption, .conversation_line {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  }

ul ul, ul ol {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  }

p.image {
  max-width: 100%;
  margin-top: 52px;
  margin-bottom: 26px;
  }

ul#posts {
	list-style: none;
	}

ul#posts li.post:last-child {
	margin-bottom: 0;
	}
  
.regular_body, .quote_body, .caption, .conversation_line, ul#posts, #pagers, #header_image_div, ul#following {
  text-align: left;
  }

.photo_div, .photo div, .photoset_div, .html_photoset, #header_image_div, .album_art_div {
  line-height: 0;
  text-align: center;
  }

.regular_body .photo_div {
	margin-bottom: 52px;
	}
  
.regular_body .photo div img,
.regular_body .photo_div img,
.regular_body img {
  max-width: 100%;
  margin-bottom: 13px;
  }

.regular_body .caption p {
  padding-top: 6px;
  margin: 0;
  font-size: 14px;
  line-height: 1.4em;
  color: #888;
  text-align: center;
  }
			
img.album_art_img {
  width: 200px;
  }

/* Styles */
h3, h4, h5, p, ul ul, ul ol, blockquote, pre, .caption {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;
  text-align: left;
  }
  
h3 {
	margin-bottom: 0;
	text-align: center;
	}

h3 a {
	color: #131313;
	border: 0;
	text-decoration: none;
	}

h4 {
	color: #a0a0a0;
	margin-bottom: 0;
	}

h5 {
	color: #a0a0a0;
	text-align: center;
	margin-bottom: 26px;
	}

h5 a {
	color: #a0a0a0;
	text-decoration: none;
	border: 0;
	}

p a {
	color: #131313;
	text-decoration: none;
	border-bottom: 2px solid #d8d8d8;
	}

p a:hover,
p a:active,
h3 a:hover,
h5 a:hover {
	text-decoration: none;
	color: #00bf83;
/* 	color: #a0a0a0; */
/* 	border-color: transparent; */
	cursor: pointer;
	}

h5 a:hover {
	color: #131313;
	}

p b,
p strong {
  letter-spacing: -1px;
  }

blockquote {
  color: #888;
  }
  
ul ul,
ul ol {
  margin-bottom: 17px;
  padding-left: 40px;
  }

ul ul li {
  list-style-type: circle;
  }

hr {
  border-width: 0;
  border-color: transparent;
  background: none;
  margin: 34px 0;
  text-align: center;
  color: #ccc;
  }

hr:after {
  content: '\266C';
  }

.photo div, .photoset_div {
  margin-bottom: 34px;
  }
  
pre,
code {
  font-family: monaco, courier, monospace;
  color: #999;
  font-size: 14px;
  }

code {
  line-height: 18px;
  }

p.meta {
	padding-top: 130px;
	font-size: 14px;
  color: #a0a0a0;
  text-transform: lowercase;
  }

p.meta a {
  color: #a0a0a0;
  text-decoration: none;
  }
  
span.tags {
  text-transform: lowercase;
  }

span.tags span:after {
  content: ",";
  }

span.tags span:last-child:after {
  content: none;
  }


/* About */
#about {
/* 	background: #5800d4; */
	background: #131313;
	}

#about * {
	color: #fff!important;
	border-color: #fff!important;
	}
	
#about header a:hover {
	color: #999!important;
	}

#about p a:hover {
	border-bottom: transparent;
	}
	
#about .post {
	padding-bottom: 60px;
	}
	
#about .post p {
	font-size: 44px;
	line-height: 60px;
	margin-bottom: 60px;
	text-align: center;
	max-width: 80%;
	}

/* Work
------------------------------------------------------------*/
#work .photo, .misc {
  padding: 0;
  margin-bottom: 1.6vh;
	background: #f8f8f9;
  position: relative;
  }
			 
.set .photo {
	width: 49.5%;
	margin-right: 1%;
	float: left;
	}

.set .photo.last {
	margin-right: 0;
	}

#bcpanes .photo {
	width: 24.25%;
	}

#work .photo div img {
	max-height: 900px;
	max-width: 100%;
  }

#work #build .photo div img {
	max-height: auto;
	}
  
#work .hero.photo div img {
	max-height: 1240px;
	}

#work .photo div {
	background: none;
	margin: 0;
	position: relative;
  }
 
#work .hero .photo div {
  overflow: hidden;
  }

#work .photo div img {
	background: none;
  }

#work .photo div img.single_phone {
	max-width: 100%;
  }
  			
.quotes {
  padding: 160px 0 110px;
	}

.quotes p {
  margin: 0 0 78px;
  text-align: center;
  max-width: auto;
  width: 28.333%;
  padding: 0;
  margin-right: 5%;
  float: left;
	}

.quotes p:nth-child(2) {
  margin-left: 2.5%;
  margin-right: 2.5%;
	}

.quotes p:last-child {
  margin-right: 0;
  margin-left: 5%;
	}
 		 
.quotes p span {
  display: block;
  color: #8a8a8a;
  margin-top: 26px;
  line-height: 30px;
	}
			
.quotes #verge {
  background: url('../img/verge.gif') 50% 0 no-repeat;
  background-size: auto 28px;
  text-indent: -9999px;
	}

.quotes #fastco {
	background: url('../img/fastco.gif') 50% 0 no-repeat;
	background-size: auto 22px;
 	text-indent: -9999px;
	}

.quotes #wired {
	background: url('../img/wired.gif') 50% 0 no-repeat;
	background-size: auto 22px;
	text-indent: -9999px;
	}

#fbtimeline.photo {
	background-image: url('../img/timeline-bg.png');
	background-repeat: repeat-x;
	background-size: auto 100%;
	}

#fbtimeline.photo div img {
	max-height: 998px;
	}

#profiledetail.photo div {
	background-image: url('../img/profile-detail-bg.png');
	background-repeat: no-repeat;
	background-position: 67% 0;
	background-size: auto 100%;
	}

#movieset.photo div {
	background-image: url('../img/profile-movieset-bg.png');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: auto 100%;	
	}

#custo.photo div {
	text-align: left;
	}

#bcpanes .photo div {
	text-align: left;
	background: #f5f5f6;
	}

#work .about .photo {
	padding: 0;
	background: none;
	}

.about p {
	font-size: 40px;
	line-height: 56px;
	text-align: center;
	padding: 0;
	margin: 0 auto 30px;
	max-width: 1000px;
	}

.misc {
	padding-top: 80px;
	}
			
.masonry { 
	line-height: 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 24px;
  -webkit-column-gap: 24px;
  column-gap: 24px;
  padding: 24px 24px 0;
  background: #f8f8f9;
	}

.masonry img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 24px;
	}




/* Mobile Sauce
------------------------------------------------------------*/
@media screen and (max-width: 960px) {

#tumblr_controls {
  display: none!important;
  }
  
body {
  -webkit-text-size-adjust: none;
  padding-top: 0;
  }
  
h3, h4, h5, p, ul ul, ul ol, blockquote, pre, .caption {
	font-size: 16px;
	line-height: 24px;
	}
 
.container {
  padding: 0;
  }
  
.post {
  padding: 0 0 100px;
  }

header, footer {
	margin: 0 auto 12vh;
	}

footer {
	margin-top: 20vh;
	}

header ol,
header h1,
footer ol,
footer h1 {
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
	}

header ol,
footer ol {
	text-align: center;
	width: 100%;
	}

header h1,
footer h1,
header p,
footer p {
	display: none;
	}

header ol a,
footer ol a {
	padding: 7px 12px;
	}

p img,
.photo img,
.photo div {
  max-width: 100%;
  }

h3, h4, h5, h6, p, pre, blockquote, .caption, .conversation_line {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  }

blockquote p {
	max-width: 100%;
	}

.post li {
  margin-right: 5%;
  }
  
#about .post p {
	max-width: 90%!important;
	text-align: left;
	font-size: 36px;
	line-height: 48px;
	}	


/* Mobile Work
	 --------------------------------------- */
#work .photo {
	max-width: 100%;
  margin: 0 auto 9px;
  text-align: center;
	}

#work .photo div img,
#work .single_phone {
	max-height: 100vh!important;
	}

.set .photo {
	width: 100%;
	float: none;
	margin-right: 0;
	margin-left: 0;
	}

.quotes {
	padding: 50px 0;
	margin: 0;
	}

.quotes p {
	font-size: 14px;
	line-height: 20px;
	float: none;
	padding: 0!important;
	width: 94%;
	margin-right: auto!important;
	margin-left: auto!important;
	margin-bottom: 30px;
	}

.quotes p span {
	margin-top: 12px;
	line-height: 26px;
	}
	
.quotes #verge {
  background-size: auto 22px;
	}

.quotes #fastco {
	background-size: auto 16px;
	}

.quotes #wired {
	background-size: auto 18px;
	}

}

@media screen and (max-width: 560px) {

#bcpanes .photo {
	width: 49%;
	float: left;
	}

#bcpanes .photo.second,
#bcpanes .photo.last {
	float: right;
	}
	
#about .post p {
	font-size: 26px;
	line-height: 38px;
	}	

.masonry {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  background: none;
	}
	
}
